In [1]:
import pandas as pd
import numpy as np

In [2]:
gastos_df = pd.read_csv("../datos/DatosFinales/gastos.csv")
ingresos_df = pd.read_csv("../datos/DatosFinales/ingresos.csv")

In [3]:
gastos_df.info()
gastos_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8450 entries, 0 to 8449
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   año                8450 non-null   int64
 1   ncodi              8448 non-null   float64
 2   totalcompra        8450 non-null   int64
 3   producfarma        8449 non-null   float64
 4   materialsani       8450 non-null   int64
 5   implantes          8348 non-null   float64
 6   restomateriasani   8439 non-null   float64
 7   servcontratado     8392 non-null   float64
 8   trabajocontratado  8419 non-null   float64
 9   xrestocompras      8432 non-null   float64
 10  variaexistencias   8271 non-null   float64
 11  servexteriores     8450 non-null   int64
 12  sumistro           8446 non-null   float64
 13  xrestoserviexter   8442 non-null   float64
 14  gastopersonal      8450 non-null   int64
 15  sueldos            8450 non-null   int64
 16  indemnizacion      8237 non-null   float64
 17  segsocempresa      8450 non-null   int64
 18  otrgassocial       8267 non-null   float64
 19  dotaamortizacion   8276 non-null   float64
 20  perdidadeterioro   8204 non-null   float64
 21  xrestogasto        8413 non-null   float64
 22  totcompragasto     8450 non-null   int64
dtypes: float64(15), int64(8)
memory usage: 1.5 MB

,año,ncodi,totalcompra,producfarma,materialsani,implantes,restomateriasani,servcontratado,trabajocontratado,xrestocompras,...,xrestoserviexter,gastopersonal,sueldos,indemnizacion,segsocempresa,otrgassocial,dotaamortizacion,perdidadeterioro,xrestogasto,totcompragasto
0,2020,113.0,1535894,344330.0,169443,0.0,169443.0,1877.0,678201.0,342043.0,...,506018.0,26209836,19875799,349499.0,5984538,0.0,298707.0,-6504.0,50165.0,28810972
1,2020,619.0,7884157,971762.0,1749006,493444.0,1255562.0,3800207.0,1248674.0,114508.0,...,2635675.0,7083969,5203283,151380.0,1591074,138232.0,2423752.0,0.0,312984.0,20573925
2,2020,163.0,5453290,126493.0,1412366,574127.0,838239.0,3217684.0,647852.0,48895.0,...,882274.0,2890388,2180177,-402.0,663398,47215.0,202688.0,-54028.0,232471.0,9677715
3,2020,131.0,245802,72318.0,52506,0.0,52506.0,1114.0,24303.0,95561.0,...,487053.0,1887375,1437421,9506.0,416398,24050.0,12084.0,240.0,132044.0,2844476
4,2020,375.0,762218,114702.0,106844,60.0,106784.0,14526.0,188463.0,337683.0,...,192132.0,7764302,5838470,0.0,1837175,88657.0,184413.0,93708.0,1552.0,9037657

In [4]:
ingresos_df.info()
ingresos_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55326 entries, 0 to 55325
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               55326 non-null  int64
 1   particulares             53952 non-null  float64
 2   aseguradoras             55322 non-null  float64
 3   aseguradoras_enfermedad  53952 non-null  float64
 4   aseguradoreas_trafico    53859 non-null  float64
 5   mutuas                   53942 non-null  float64
 6   tipo                     55326 non-null  object
 7   año                      55326 non-null  int64
 8   ncodi                    55308 non-null  object
dtypes: float64(5), int64(2), object(2)
memory usage: 3.8+ MB

,Unnamed: 0,particulares,aseguradoras,aseguradoras_enfermedad,aseguradoreas_trafico,mutuas,tipo,año,ncodi
0,0,0.0,103677.0,64383.0,39294.0,61456.0,Hospital,2013,"990,00"
1,1,324687.0,478280.0,392084.0,86196.0,484228.0,Hospital,2013,"680,00"
2,2,793512.0,1803352.0,1803352.0,0.0,20402.0,Hospital,2013,"411,00"
3,3,0.0,0.0,0.0,0.0,0.0,Hospital,2013,"241,00"
4,4,24406.0,63557.0,55091.0,8466.0,44106.0,Hospital,2013,"558,00"